@use 'variables' as *;

.card {
  border-radius: 0.5rem;
}
.btn-block {
  width: 100%;
}

.collapsable {
  opacity: 0;
  max-height: 0;
  transition: all $transition-duration ease-in-out;
}

.collapsable.show {
  opacity: 1;
  max-height: 500px;
}
